  body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: rgb(242, 164, 164);
  }

  .navbar {
      background-color: brown;
      display: flex;
      height: 80px;
      justify-content: space-between;
  }

  .nav {
      margin-right: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;


  }

  .navbar a {
      color: #f6f4ceff;
      display: flex;
      align-items: right;
      padding: 10px;
      margin-right: 0px;
      text-decoration: none;
      font-size: 25px;
      font-weight: 1000;


  }

  .navbar ul {
      display: flex;
      list-style: none;

  }

  .avatar-img {
      display: flex;
      height: 250px;
      margin: auto;
      margin-top: -115;
  }

  .navbar li {
      margin-right: 40px;
  }

  .main-sochal {
      display: flex;
      gap: 10px;
      flex-direction: row-reverse;
      align-items: center;
      margin-left: 130px;
      text-decoration: none;
      gap: 30px;

  }

  .main-sochal img {
      width: 50px;
  }

  .main-sochal a {
      text-decoration: none;
  }

  .main-sochal li {
      list-style: none;
  }

  .main-part{
        text-align: center;
        margin-top: -90px;
        

  }
    .main-part h1{
            font-size: 60px;
            ;
            color: brown;
            font-weight: 900;
    }
 .main-part h5 {
     font-size: 30px;
     color: #f6f4ceff;
     font-weight: 900;

    }
    .shadow1{
text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.50);    }

  .first-img {
      display: flex;
      flex-direction: row;
      margin-right: 1100px;
      width: 350px;
;
  }

  @media screen and (max-width:600px) {


      .navbar {
          height: 150px;
      }

      .nav {
          display: none !important;
          visibility: hidden !important;
          opacity: 0 !important;

      }

      .main-sochal {
          display: none;
      }
  }