  body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: rgb(242, 164, 164);
  }

  .navbar {
      background-color: brown;
      display: flex;
      height: 80px;
      justify-content: space-between;
  }

  .nav {
      margin-right: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;


  }

  .navbar a {
      color: #f6f4ceff;
      display: flex;
      align-items: right;
      padding: 10px;
      margin-right: 0px;
      text-decoration: none;
      font-size: 25px;
      font-weight: 1000;


  }

  .navbar ul {
      display: flex;
      list-style: none;

  }

  .avatar-img {
      display: flex;
      height: 250px;
      margin: auto;
      margin-top: -115;
  }

  .navbar li {
      margin-right: 40px;
  }

  .main-sochal {
      display: flex;
      gap: 10px;
      flex-direction: row-reverse;
      align-items: center;
      margin-left: 130px;
      text-decoration: none;
      gap: 30px;

  }

  .main-sochal img {
      width: 50px;
  }

  .main-sochal a {
      text-decoration: none;
  }

  .main-sochal li {
      list-style: none;
  }

  .main-part {
      text-align: center;
      margin-top: -90px;


  }

  .main-part h1 {
      font-size: 60px;
      ;
      color: brown;
      font-weight: 900;
  }

  .main-part h5 {
      font-size: 30px;
      color: #f6f4ceff;
      font-weight: 900;

  }

  .shadow1 {
      text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.50);
  }

  .first-img {
      display: flex;
      flex-direction: row;
      margin-right: 1100px;
      width: 350px;
      ;
  }

  .title {

      text-align: center;
      font-size: 40px;
      color: rgb(255, 254, 233);
      font-weight: 900;
      margin-top: 60px;
  }

  .prograf {
      text-align: center;
      font-size: 30px;
      color: rgb(255, 254, 233);
      font-weight: 800;
      margin-top: -20px;
      margin-left: 300px;
      margin-right: 300px;
  }

  .prograf1 {
      text-align: right;
      font-size: 30px;
      color: rgb(255, 254, 233);
      font-weight: 800;
      margin-top: -20px;
      margin-left: 300px;
      margin-right: 300px;
      margin-right: 600px;
  }

  .btn-now {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 40px;
      margin-right: 92vh;
      text-decoration: none;
      height: 45px;
      width: 200px;
      border-radius: 10px;
      background-color: brown;
      color: #f6f4ceff;
      font-size: 25px;
      font-weight: 800;
      border: none;
      cursor: pointer;
      transition: 0.5s;

  }

  .btn-now:hover {
      background-color: #f6f4ceff;
      color: brown;
      border: 2px solid brown;
  }

  .title1 {
      text-align: center;
      font-size: 40px;
      color: rgb(255, 254, 233);
      font-weight: 900;
      margin-top: -10px;

  }

  @media screen and (max-width:600px) {


      .navbar {
          height: 150px;
      }

      .nav {
          display: none !important;
          visibility: hidden !important;
          opacity: 0 !important;

      }

      .main-sochal {
          display: none;
      }
  }