  body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: rgb(242, 164, 164);
  }

  .navbar {
      background-color: brown;
      display: flex;
      height: 80px;
      justify-content: space-between;
  }

  .nav {
      margin-right: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: ;

  }

  .navbar a {
      color: white;
      display: flex;
      align-items: right;
      padding: 10px;
      margin-right: 0px;
      text-decoration: none;
      font-size: 25px;
      font-weight: 1000;


  }

  .navbar ul {
      display: flex;
      list-style: none;

  }

  .avatar-img {
      display: flex;
      height: 250px;
      margin: auto;
      margin-top: -115;
  }

  .navbar li {
      margin-right: 40px;
  }
  .main-sochal{
    display: flex;
    gap: 10px;
    flex-direction:row-reverse;
    align-items: center;
    margin-left: 130px;

  }
  .main-sochal img{
    width: 50px;
margin-top: -18px;  }

  

  

  