  body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: rgb(242, 164, 164);
  }

  .navbar {
      background-color: brown;
      display: flex;
      height: 80px;
      justify-content: flex-end
  }

  .nav {
      margin-right: 20;
      display: flex;

  }

  a {
      color: white;
      display: flex;
      align-items: right;
      padding: 10px;
      margin-right: 0px;
      text-decoration: none;
      font-size: 25px;
      font-weight: 1000;


  }

  ul {
      display: flex;
      list-style: none;

  }

  img {
      display: flex;
      height: 250px;
      margin: auto;
      margin-top: -115;
  }

  li {
      margin-right: 40px;
  }